image:
  postgres:
    backup:
      repository: "clownfishx/baka-postgres"
      tag: "0.0.18"
    restore:
      repository: "clownfishx/baka-postgres-restore"
      tag: "0.0.6"
  mongo:
    backup:
      repository: "clownfishx/baka-mongo"
      tag: "0.0.13"
    restore:
      repository: "clownfishx/baka-mongo-restore"
      tag: "0.0.6"
  mysql:
    backup:
      repository: "clownfishx/baka-mysql"
      tag: "0.0.14"
    restore:
      repository: "clownfishx/baka-mysql-restore"
      tag: "0.0.6"
